# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
/public/yandex_40a6d4d7fbf2d51e.html
/local/config/vufind/config.ini
/downloads
/solr/vendor
/vendor
composer.phar
import/solrmarc.log
node_modules
public/swagger-ui
nbproject/
index.xml
index[0-9].xml
soap.php
mail.php
root/
/covers
/books
/public/robots.txt
/local/httpd-vufind.conf
/covers-bak20180515-001/
covers.txt
/covers_tmp/
